@font-face {
  font-family: 'minecraft';
  src: url('../public/assets/Minecraftia.woff') format('woff'),
       url('../public/assets/Minecraftia.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --themeColor : #FBBF64;
  --themeColorText : black;
  --backgroundImage : url(../public/assets/background.jpg)
}

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

.container {
  background-image: var(--backgroundImage);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative; 
  max-width: 100%;
  margin: 0 auto;
  padding: 40px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
section {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.section {
  width: 100%;
  padding: 40px 200px 40px 200px; 
}
.car_section {
  width: 100%;
  padding: 20px 100px 40px 100px;
  overflow: hidden;
}

.heading, .quote {
  display: flex;
  color: aliceblue;
  font-family: minecraft;
  font-size: xx-large;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  padding-top: 20px;
}

.tooltip_container {
  position: relative;
  display: inline-block;
}
.tooltip_container span {
  visibility: hidden;
  opacity: 0;
  color: white;
  font-family: monospace;
  background-color: transparent;
}

.quote {
  font-size: x-large;
  padding-top: 40px;
}

.quote_bar {
  font-family: monospace;
  font-size: 80px;
  color: var(--themeColor);
  padding: 0px 20px;
}

.section_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: between;
  gap:60px;
  background-color: inherit;
  padding: 40px;
  border-style: dashed;
  border-width: thick;
  border-color: aliceblue;
  border-radius: 2px;
}

.project_container {
  display: flex;
  gap:20px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding: 20px 0px;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: white transparent; /* Firefox */
  &::-webkit-scrollbar {
    height: 4px;
  }
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    width: 1px; /* Width of scrollbar */
  }
  &::-webkit-scrollbar-track {
    background-color: transparent; /* Track color */
  }
  &::-webkit-scrollbar-thumb {
    background-color: white; /* Thumb color */
    border-radius: 8px; /* Rounded corners */
  }
}

.project_card {
  /* width: 100%; */
  min-width: 224px;
  padding: 10px;
  padding-bottom: 20px;
  border-style: dashed;
  border-width: medium;
  border-color:aliceblue;
  border-radius: 2px;
}

.sub_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.image:hover::after {
  content: attr(data-tooltip);
}

.icon_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:10px;
  height: 75px;
  /* border-radius: 2px;
  border: medium dashed white; */
  padding: 10px 15px 10px 15px;
  background-color: inherit;
}

.content {
  color:rgba(240, 248, 255);
  font-family: monospace;
  font-size: x-large;
}

.description_box {
  min-height: 220px;
  max-width: max-content;
  display: flex;
  padding: 0px;
  align-items: center;
  flex-direction: column;
  justify-content:space-between;
}

.description, .project_description {
  font-family: monospace;
  font-size: large;
}
.project_description {
  text-align: left;
}

.links {
  display: flex;
  align-items: center;
  flex-direction: row;
  width:90%;
  flex-wrap: wrap;
  /* padding: 10px 0px; */
  gap:10px;
  font-family: monospace;
  font-weight: bold;
}

.link {
  /* padding: 5px  10px; */
  font-size: x-large;
  border-radius: 20px;
}

.skills_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:20px;
}

.name, .project_name{
  color: var(--themeColor);
  font-family: 'minecraft';
  font-size: medium;
  text-align: center;
}

.skills_name {
  color: var(--themeColor);
  font-family: monospace;
  font-size: larger;
}

span {
  font-weight: bolder;
  color: var(--themeColor);
}

hr {
  border-style: dashed;
}

.project_card {
  color:aliceblue;
}


.duration {
  font-family: monospace;
  color: white;
}

.filter-bar {
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  align-items: center;
  padding: 10px 0px 20px 0px;
  justify-content: center;
}

.filter-bar button {
  background-color: white;
  padding: 5px 15px;
  border-radius: 20px;
  font-family: monospace;
  font-weight: bold;
  font-size: larger;
}
.filter-bar button.active {
  background-color: var(--themeColor);
}

.experience_container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:20px;
  background-color: inherit;
  padding: 0 20px;
  border-radius: 2px;
  height: 70vh;
  overflow-y: scroll;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: white transparent; /* Firefox */
  &::-webkit-scrollbar {
    height: 4px;
  }
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    width: 4px; /* Width of scrollbar */
  }
  &::-webkit-scrollbar-track {
    background-color: transparent; /* Track color */
  }
  &::-webkit-scrollbar-thumb {
    background-color: white; /* Thumb color */
    border-radius: 8px; /* Rounded corners */
  }
}

.experience_content {
  gap:20px;
  width: 100%;
  height: 33vh;
  overflow-x: scroll;
  max-height: max-content;
  border-style: dashed;
  border-width:medium;
  border-color: aliceblue;
  border-radius: 2px;
  padding: 20px;
}

.title_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.experience_name {
  color: var(--themeColor);
  font-family: 'minecraft';
  font-size: large;
}

.role {
  color: white;
  font-family: monospace;
  font-size: large;
  padding: 5px 0px;
  font-style: italic;
  font-weight: bolder;
}

.work_skill {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: black;
  gap:10px;
  padding: 10px 0px 20px 0px;
}
.work_skill_name {
  background-color: rgba(240, 248, 255, 0.912);
  padding: 5px 10px;
  border-radius: 20px;
  font-family: monospace;
  font-weight: bold;
}

.work_description {
  color: aliceblue;
  font-family : monospace;
  font-size: large;
  font-weight: lighter;
}

ul {
  list-style-type: square;
  padding: 0px 10px;
}

.knowMore_section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.knowMore {
  background-color: var(--themeColor);
  color: var(--themeColorText);
  font-family: 'minecraft';
  padding: 10px 15px 10px 15px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-navbar {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: none;
  padding: 20px;
  z-index:10;
}

.social-navbar a {
  margin-bottom: 10px;
  color: #fff;
  padding: 10px;
  text-decoration: none;
}

.social-navbar a:hover {
  color: var(--themeColor);
}

/* floating-button.css */
.floating-button {
  position: fixed;
  display: none;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: black;
  color: white;
  border-radius: 50%;
  border: 5px white;
  border-width: thick;
  border-style: dashed;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.floating-button.active {
  background-color: #e74c3c;
}

/* social-media-icons.css */
.social-media-icons {
  position: fixed;
  bottom: 80px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 9998;
  background-color: none;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.social-media-icons a {
  color: white;
  transition: color 0.3s;
}

.social-media-icons a:hover {
  color: #e74c3c;
}

@media only screen and (max-width:1200px) and (min-width:1000px) {
  .section, .car_section {
    padding: 20px 150px;
  }
}

@media only screen and (max-width:1000px) and (min-width: 600px) {
  .container {
    padding: 0;
  }
  .section_container {
    flex-direction: column;
  }
  .floating-button {
    display:block;
  }
  .section, .car_section {
    padding: 20px 100px;
    flex-wrap: wrap;
    background-color: rgba(0,0,0,0);
  }
}


@media only screen and (max-width: 600px) {
  .container {
    padding: 0;
    overflow-y: scroll;
    scroll-snap-type: none;
    scroll-behavior: smooth;
    height: auto;
  }
  section {
    scroll-snap-align: none;
    height: auto;
  }
  .floating-button {
    display:block;
  }
  .section, .car_section {
    padding: 20px 30px;
    background-color: rgba(0,0,0,0);
  }
  .sub_container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  .icon_container {
    display: flex;
    /* height: 170px; */
    text-align: center;
    flex-direction: column;
  }
  .section_container {
    gap:30px;
    flex-direction: column;
    padding: 0;
    border:none;
  }
  .project_card {
    min-width: 90%;
  }
  .description_box {
    min-height: 200px;
  }
  .project_description {
    font-size: large;
  }
  .link {
    padding: 5px;
  }
  .image {
    height: 50px;
    width: 50px;
  }
  .nodejs {
    height: 60px;
  }
  .name {
    font-size: small;
  }
  .project_name {
    font-size: medium;
  }
  .content {
    font-size: large;
  }
  .quote {
    font-size: medium;
  }
  .experience_container {
    grid-template-columns: repeat(1,1fr);
    height: auto;
    padding: 40px 0px 0px 0px;
  }
  .experience_content {
    height: auto;
  }
  .title_box {
    flex-direction: column;
    justify-content: none;
    align-items: normal;
  }
  .social-navbar {
    display: none;
  }
}